<p>practice-data-binding works!</p>
<!-- Interpolation -->
{{school}}

<div>
    <form>
        <div>
            Login form
        </div>
        <div>
            <input type="text" name="name" id="" placeholder="name here">
        </div>
        <div>
            <input type="email" name="email" id="" placeholder="email here">

        </div>
        <div>

            <input type="password" name="email" id="" placeholder="password here">
        </div>

        <button type="submit">Submit Button</button>



    </form>
</div>