
<div>
     <ul>
          <li>
               <a routerLink="pipe"> Pipe</a>
          </li>
          <li>
               <a routerLink="reactive"> Reactive</a>
          </li>
          <li>
               <a routerLink="parent"> Parent</a>
          </li>
          <li>
               <a routerLink="">home</a>
          </li>
          <!-- <li>
               <a href=""></a>
          </li> -->
     </ul>
</div>

<!-- <app-data-binding></app-data-binding> -->
 <!-- <app-default-directives></app-default-directives> -->
  <!-- <app-pipe-component></app-pipe-component> -->
   <!-- <app-service></app-service> -->
    <!-- <app-parent></app-parent> -->
     <!-- <app-reactive-form></app-reactive-form> -->
<router-outlet />
