<div class="row">
    <div class="col-4"></div>
    <div class="col-4 my-5">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div>
                <label for="">Email :</label>
                <input type="email" formControlName="email" name="email" id="emailId" placeholder="Enter email"
                    class="ms-5">
                @if(isInvalid('email')) {
                <small style="color: red; display: block;" class="ms-5 ps-5">
                    @if(userForm.get('email')?.errors?.['required']){
                    Email is required
                    }
                    @if(userForm.get('email')?.errors?.['email']){
                    Enter correct email
                    }
                </small>
                }
            </div>
            <br>

            <div style="margin-top: 10px;">
                <label for="">Password : </label>
                <input type="password" formControlName="password" name="password" id="passwordId"
                    placeholder="Enter password" class="ms-3">
                @if(isPasswordValid('password')){
                <small class="text-danger d-block ms-5 ps-5 ">
                    @if (userForm.get('password')?.touched
                    && userForm.get('password')?.errors?.['required']) {
                    Password is required
                    }
                    @if(userForm.get('password')?.errors?.['minlength']){
                    Min length should be 8
                    }
                    @if(userForm.get('password')?.errors?.['maxlength']){
                    Max length should be 12
                    }
                    <!-- @if (userForm.get('password')?.touched
                    && userForm.get('password')?.errors?.['pattern']) {
                    Password requires at least 1 digit, 1 lowercase and 1 uppercase letter
                    } -->
                </small>
                }
            </div><br>

            <div>
                <button type="submit" class="ms-5">Save</button>
            </div>
        </form>

    </div>
    <div class="col-4"></div>
</div>



<br><br><br>
<hr><br><br><br>



<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <form [formGroup]="userForm" (ngSubmit)="onsub()">

                <div>
                    <label>Name</label><br>
                    <input type="text" formControlName="name" name="name" placeholder="Enter name">
                    @if(isInvalid('name')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']){
                        name is required
                        }@if(userForm.get('name')?.errors?.['minlength']){
                        enter correct Name
                        }
                    </small>
                    }
                </div>

                <br>

                <div>
                    <label>Email</label><br>
                    <input type="email" formControlName="email" name="email" placeholder="Enter email">
                    @if(isInvalid('email')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']){
                        email is required
                        }@if(userForm.get('email')?.errors?.['email']){
                        enter correct email
                        }
                    </small>
                    }
                </div>

                <br>

                <div>
                    <label>Password</label><br>
                    <input type="password" formControlName="password" name="password" placeholder="Enter password">
                    @if(isInvalid('password')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('password')?.errors?.['required']){
                        password is required
                        }@if(userForm.get('password')?.errors?.['minlength']){
                        password should have more than 8 characters
                        }
                        @if(userForm.get('password')?.errors?.['maxlength']){
                        password should have less than 20 characters
                        }
                    </small>
                    }
                </div>

                <br>

                <div>
                    <label>Age</label><br>
                    <input type="number" formControlName="ageUser" name="ageUser" placeholder="Enter age">
                    @if(isInvalid('ageUser')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('ageUser')?.errors?.['required']){
                        age is required
                        }@if(userForm.get('ageUser')?.errors?.['max']){
                        user should be little younger
                        }@if(userForm.get('ageUser')?.errors?.['min']){
                        user should be adult
                        }
                    </small>
                    }
                </div>

                <br>

                <div>
                    <label>Address</label><br>
                    <textarea name="address" formControlName="address" name="Enter address"></textarea>
                    @if(isInvalid('address')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('address')?.errors?.['required']){
                        address is necessary
                        }@if(userForm.get('address')?.errors?.['maxlength']){
                        it should be address, not such lengthy paragraph
                        }
                    </small>
                    }
                </div>

                <br>

                <div>
                    <label>Mobile Number</label><br>
                    <input type="text" formControlName="mobile" name="mobile" placeholder="Enter mobile number">
                    @if(isInvalid('mobile')){
                    <small class="text-danger ms-3">
                        @if(userForm.get('mobile')?.errors?.['required']){
                        number is necessary
                        }@if(userForm.get('mobile')?.errors?.['maxlength']){
                        number should be of 10 digits
                        }@if(userForm.get('mobile')?.errors?.['minlength']){
                        number should be of 10 digits
                        }
                    </small>
                    }
                </div><br><br>

                <mat-form-field>
                    <mat-label>Choose Date of birth</mat-label>
                    <input matInput formControlName="dob" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field><br><br>

                <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="age">
                </mat-form-field>




                <br>

                <button type="submit">Submit</button>

            </form>

        </div>
        <div class="col-4"></div>
    </div>
</div>