<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 my-5">

      <div class="card shadow">
        <div class="card-body">

          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <!-- EMAIL -->
            <div class="mb-3">
              <label class="form-label">Email</label>

              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email">

              @if(isInvalid('email')) {
                <small class="text-danger">
                  @if(userForm.get('email')?.errors?.['required']){
                    Email is required
                  }
                  @if(userForm.get('email')?.errors?.['email']){
                    Enter correct email
                  }
                </small>
              }
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
              <label class="form-label">Password</label>

              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter password">

              @if(isPasswordValid('password')){
                <small class="text-danger">
                  @if(userForm.get('password')?.touched
                      && userForm.get('password')?.errors?.['required']) {
                    Password is required
                  }
                  @if(userForm.get('password')?.errors?.['minlength']){
                    Min length should be 8
                  }
                  @if(userForm.get('password')?.errors?.['maxlength']){
                    Max length should be 12
                  }
                </small>
              }
            </div>

            <!-- BUTTON -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Save
              </button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>




<br><br><br>
<hr><br><br><br>



<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">

      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h4 class="mb-0">User Registration</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <!-- NAME -->
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Enter name">

              @if(isInvalid('name')){
                <small class="text-danger">
                  @if(userForm.get('name')?.touched && userForm.get('name')?.errors?.['required']){
                    Name is required
                  }
                  @if(userForm.get('name')?.errors?.['minlength']){
                    Enter correct name
                  }
                </small>
              }
            </div>

            <!-- EMAIL -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter email">

              @if(isInvalid('email')){
                <small class="text-danger">
                  @if(userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']){
                    Email is required
                  }
                  @if(userForm.get('email')?.errors?.['email']){
                    Enter correct email
                  }
                </small>
              }
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter password">

              @if(isInvalid('password')){
                <small class="text-danger">
                  @if(userForm.get('password')?.errors?.['required']){
                    Password is required
                  }
                  @if(userForm.get('password')?.errors?.['minlength']){
                    Min length should be 8
                  }
                  @if(userForm.get('password')?.errors?.['maxlength']){
                    Max length should be 20
                  }
                </small>
              }
            </div>

            <!-- AGE INPUT -->
            <div class="mb-3">
              <label class="form-label">Age</label>
              <input
                type="number"
                class="form-control"
                formControlName="ageUser"
                placeholder="Enter age">

              @if(isInvalid('ageUser')){
                <small class="text-danger">
                  @if(userForm.get('ageUser')?.errors?.['required']){
                    Age is required
                  }
                  @if(userForm.get('ageUser')?.errors?.['min']){
                    User should be adult
                  }
                  @if(userForm.get('ageUser')?.errors?.['max']){
                    User should be little younger
                  }
                </small>
              }
            </div>

            <!-- SLIDER -->
            <div class="mb-4">
              <label class="form-label">Age Range</label>
              <mat-slider min="1" max="150" step="1" showTickMarks discrete>
                <input matSliderThumb>
              </mat-slider>
            </div>

            <!-- GENDER -->
            <div class="mb-4">
              <mat-form-field appearance="outline" class="w-100">
  <mat-label>Gender</mat-label>

  <mat-select>
    <mat-option value="" disabled selected>
      Select your gender
    </mat-option>

    <mat-option value="male">Male</mat-option>
    <mat-option value="female">Female</mat-option>
    <mat-option value="other">Other</mat-option>
  </mat-select>
</mat-form-field>

            </div>

            <!-- ADDRESS -->
            <div class="mb-3">
              <label class="form-label">Address</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="address"
                placeholder="Enter address"></textarea>

              @if(isInvalid('address')){
                <small class="text-danger">
                  @if(userForm.get('address')?.errors?.['required']){
                    Address is required
                  }
                  @if(userForm.get('address')?.errors?.['maxlength']){
                    Address is too long
                  }
                </small>
              }
            </div>

            <!-- MOBILE -->
            <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="mobile"
                placeholder="Enter mobile number">

              @if(isInvalid('mobile')){
                <small class="text-danger">
                  @if(userForm.get('mobile')?.errors?.['required']){
                    Mobile number is required
                  }
                  @if(userForm.get('mobile')?.errors?.['minlength'] ||
                       userForm.get('mobile')?.errors?.['maxlength']){
                    Mobile number must be 10 digits
                  }
                </small>
              }
            </div>

            <!-- DOB -->
            <div class="mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="dob" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- CALCULATED AGE -->
            <div class="mb-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Calculated Age</mat-label>
                <input matInput formControlName="age" readonly>
              </mat-form-field>
            </div>

            <!-- SUBMIT -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Submit
              </button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>




<br><br><br>
<hr><br><br><br>



